<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ellie's Sprout Homework</a>
             <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li id="home"><a href="localhost:9000">Home</a></li>
                <li><a id="login" href="http://localhost:9393/login">Login</a></li>
                <li class="pull-right" id="sprout-user">
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="row-fluid" id="content" style="margin-top:68px;"></div>

    <hr>

    <footer>
        <p>&copy; Ellie's Sprout Homework! Check it out on<a href="http://github.com/heyellieday/sprout-homework"> Github.</a></p>
    </footer>

</div>
