<div class="col-md-4">
    <div class="thumbnail">
      <img class="img-profile img-responsive img-circle" src="{{profile_image_url}}" >
      <div class="caption">
        <h3>{{title}}</h3>
        {{{text}}}
        <p><a href="#twitter-user/{{screen_name}}" class="btn btn-primary" role="button">View Profile</a></p>
      </div>
    </div>
  </div>